# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java
# This is an example of using Reviewdemo Java test application with the Reviewdemo Static Pipeline scanner.  A Reviewdemo subscription is required.
trigger:
- main
pool:
  vmImage: 'ubuntu-latest'
steps:
- task: Maven@3
  displayName: Build with Maven
  inputs:
    mavenPomFile: 'app/pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'
- task: Bash@3
  displayName: Reviewdemo Pipeline
  inputs:
    targetType: 'inline'
    script: |
      curl -sSO https://downloads.reviewdemo.com/securityscan/pipeline-scan-LATEST.zip
      unzip -o pipeline-scan-LATEST.zip
      java -jar pipeline-scan.jar -vid $(REVIEW_API_ID) -vkey $(REVIEW_API_KEY) -f /home/vsts/work/1/s/app/target/reviewdemo.war || true
- publish: $(System.DefaultWorkingDirectory)/results.json
  artifact: ReviewdemoBaseline
